@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vazir-bold;
    src: url(./assets/fonts/Vazirmatn-Bold.ttf);
}

@font-face {
    font-family: vazir-semibold;
    src: url(./assets/fonts/Vazirmatn-SemiBold.ttf);
}

@font-face {
    font-family: vazir-regular;
    src: url(./assets/fonts/Vazirmatn-Regular.ttf);
}